$white:#FFFFFF;
$blue: #0076FF;
$blue-hover:#005ed2;
$light-black:#808080;
$gray:#DDDDDD;
$blue-gray:#879db9;
$orange:#FF5151;
$dark-blue:#36465D;
$dark-black: #202020;
$yellow: #FFE734;
a{
  transition: 0.15s ease-in-out;
}
h1,h2,h3,h4,h5,p{
  font-weight: 300;
}
